/*
	HTML5 Reset :: taken from:
	
	https://github.com/murtaugh/HTML5-Reset/blob/36ab5f92d4dc6/_/css/style.css
	
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}



/* Now Marcus' specific styling
-------------------------------------------------------------------------------*/

body {
/*    font: 20px Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;*/
    font: 20px HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
    color: #333;
    
    line-height: 26px;
    
    text-align: center;
}

#wrapper {
    text-align: left;
    padding: 0;
    
    overflow-x: hidden;
}

#global-header {
    min-width: 820px;
    background-color: #eee;
    padding: 0 10px;
    
    background: #333 url("images/bg-black.jpg");
    
    height: 150px;
}

#global-header .inner {
    width: 820px;
    margin: 0 auto;
    padding: 20px 0;
}

#global-header #title {
    font-size: 28px;
    color: #fff;
    
    text-shadow: 0 0 2px #000;
}

#global-header #title a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

#content {
    min-width: 820px;
    
/*    overflow-x: hidden;*/
    
    padding: 0 10px;
    
    background: #e4e4e4 url("images/bg-white.png");
    border-top: 1px solid #fff;
}


#olderPostButton,
#newerPostButton {
    /* JavaScript deals with the appearance of these two buttons */
    display: none;
    
    color: #fff;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-transform: uppercase;
    
    position: absolute;
    cursor: pointer;
    
    border-radius: 6px;
    opacity: 0.9;
    z-index: 200;
    -webkit-user-select: none;
}
#olderPostButton.visible,
#newerPostButton.visible {
    display: block;
}
#olderPostButton:hover,
#newerPostButton:hover {
    opacity: 1.0;
}
#newerPostButton {
    left: -200px;
    top: 100px;
}
#olderPostButton {
    right: -200px;
    top: 100px;
}

#posts-wrapper {
    position: relative;
    width: 820px;
    margin: 60px auto 0;
}

#posts {
    width: 820px;
    position: relative;
    
    z-index: 100;
    
    opacity: 0;
}

#posts .post {
    width: 820px;
    margin-right: 200px;
    
    position: absolute;
    display: block;
}

#posts .post.focus {
    
}

#posts .post .body {
    opacity: 0.2;
    -webkit-transition: all 0.1s ease-in-out;
}
#posts .post.focus .body {
    opacity: 1;
}

#posts .post .meta {
    position: absolute;
    top: -70px;
    width: 100%;
}

#posts .post .meta .date {
    font-size: 14px;
    display: inline-block;
    
    text-align: center;
    line-height: 1em;
    padding: 15px 15px 10px;
    
    font-family: arial;
    
    background: transparent url("images/bg-black.jpg");
    
    border-radius: 3px;
    color: #666;
    color: rgba(255, 255, 255, 0.1);
    
    -webkit-transition: color 1s ease-in, text-shadow 1s ease-in-out;
}

#posts .post.focus .meta .date {
    color: #eee;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 3px #fff;
}

#posts .post .meta .line {
    display: inline-block;
    vertical-align: top;
    padding: 13px 0 0 5px;
    font-size: 14px;
    
    opacity: 0;
}

#posts .post.focus .meta .line {
    -webkit-transition: opacity 0.2s ease-out;
    opacity: 1.0;
}

#posts .post .meta .line a {
    color: #777;
    line-height: 1em;
}

#posts .post .meta .line .permalink {
    background: url("images/permalink.png") no-repeat 0 0px;
    padding-left: 22px;
    margin-left: 5px;
    height: 18px;
}

#posts .post .meta .line .tweet {
    background: url("images/tweet.png") no-repeat 0 0px;
    margin-left: 20px;
    padding-left: 22px;
}

#posts .post .meta .line .note-count {
    background: url("images/notes.png") no-repeat 0 0px;
    margin-left: 20px;
    padding-left: 22px;
}


a {
    text-decoration: none;
    color: #2a8bc7;
}
a:hover {
    text-decoration: underline;
    color: #2a8bc7;
}



#navigation {
    text-align: center;
}

/* Global Classes
-------------------------------------------------------------------------------*/

.g-invisible {
    display: none;
}



/* Post Type Styles
-------------------------------------------------------------------------------*/

#posts .post h1.title {
    font-size: 38px;
    line-height: 1.2em;
    margin-bottom: 20px;
    font-weight: normal;
    
/*    text-shadow: 0 0 80px #f8f;*/
}

#posts .post h1.title a {
    color: #333;
    text-decoration: none;
}

#posts .post p {
    margin-bottom: 1.7em;
}

#posts .post footer {
    font-size: 15px;
}

#posts .post blockquote {
    padding-left: 20px;
    border-left: 10px solid rgba(0,0,0,0.5);
}


/* Text Post */

#posts .post.text .title {}
#posts .post.text .copy {}


/* Answer Post */

#posts .post.answer .question {
    background-color: #eee;
    text-align: center;
}
#posts .post.answer .asker-wrapper {}
#posts .post.answer .answer {}


/* Link Post */

#posts .post.link .title {
    margin-bottom: 0;
}
#posts .post.link .subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: normal;
    overflow: hidden;
    line-height: 1.2em;
}
#posts .post.link .subtitle .arrow {
    display: inline-block;
    width: 20px;
    vertical-align: top;
    padding-left: 2px;
}
#posts .post.link .subtitle .link {
    display: inline-block;
    width: 794px;
}
#posts .post.link .subtitle .link a {
    color: #666;
    text-decoration: none;
    word-wrap: break-word;   
}
#posts .post.link .subtitle .link a:hover {
    text-decoration: underline;
}

#posts .post.link .description {}


/* Chat Post */

#posts .post.chat .title {}
#posts .post.chat .transcript {}
#posts .post.chat .transcript .line {
    padding-bottom: 10px;
}
#posts .post.chat .transcript .line.odd {}
#posts .post.chat .transcript .line.even {}
#posts .post.chat .transcript .line .label {
    font-weight: bold;
}


/* Quotation Post */

#posts .post.quote .quote {
    margin-bottom: 10px;
}
#posts .post.quote .quote:before,
#posts .post.quote .quote:after {
    content: '"';
}
#posts .post.quote .quote.short {}
#posts .post.quote .quote.medium {}
#posts .post.quote .quote.long {}
#posts .post.quote .source {
    text-align: center;
    font-size: 0.8em;
}


/* Photo Post */

#posts .post.photo .photo-wrapper {
    padding: 20px;
    border: 1px solid #eaeaea;
    display: inline-block;
    
    border-radius: 3px;
    
    margin-bottom: 20px;
}
#posts .post.photo .photo-wrapper .photo {
    display: block;
}
#posts .post.photo .caption {}
#posts .post.photo .exif-data {}
#posts .post.photo .exif-data .camera-info {}
#posts .post.photo .exif-data .aperture {}
#posts .post.photo .exif-data .exposure {}
#posts .post.photo .exif-data .focal-length {}


/* Photoset Post */

#posts .post.photoset .photoset {
    margin-bottom: 20px;
}
#posts .post.photoset .caption {}


/* Video Post */

#posts .post.video .video {
    margin-bottom: 20px;
}

#posts .post.video .video iframe {
    width: 820px;
    height: 461px;
}



/* Odd bits */

.superscript {
    vertical-align: super;
    font-size: 0.7em;
}



/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}
